<!DOCTYPE html>
<html>
<head>
  <title>WokamiStudy | <%= @page_title || " admin area"%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<h1>WokamiStudy admin</h1>
		<% if !flash[:notice].blank? %>
			<div class="notice"><%= flash[:notice]  %></div>
		<% end %>
		<%= yield %>

</body>
</html>
